body {
    padding: 0;
    margin: 0;


    font-family: tahoma, arial, helvetica, sans-serif;
}



.navbar {
    padding-left: 20px;
    /*width: 100%;*/
    background: #4B9CD7;
    /*height: 50px;*/

}


.user-block-username {
    min-width: 90px;
    max-width: 150px;
    font-size: 11px;
    font-weight: bold;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.FText {
    padding-right: 6px;
    font-weight: bold;
    font-size: 15px;
    background-color: dodgerblue;
    border-bottom: 5px solid black;
    text-align:right;
}

.editForm td{
    vertical-align: top;
}
.editForm div{
    font-size: 13px;
}



.menuButton div{
    height: 42px;
    cursor: pointer;
    z-index: 1;
    width: 42px;
    border: hidden;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.menuItem:hover{
    background: lightgrey;
    cursor: pointer;
}

.menuItem {
    font-family: helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 11px;
}



.navbar {
    padding-left: 20px;
    /*width: 100%;*/
    background: #4B9CD7;
    /*height: 50px;*/
}


.user-block-username {
    min-width: 90px;
    max-width: 150px;
    font-size: 11px;
    font-weight: bold;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.FText {
    padding-right: 6px;
    font-weight: bold;
    font-size: 15px;
    background-color: dodgerblue;
    border-bottom: 5px solid black;
    text-align:right;
}

.menuButton div{
    height: 42px;
    cursor: pointer;
    z-index: 1;
    width: 42px;
    border: hidden;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.menuItem:hover{
    background: lightgrey;
    cursor: pointer;
}

.menuItem {
    font-family: helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 11px;
}



.navbar {
    padding-left: 20px;
    /*width: 100%;*/
    background: #4B9CD7;
    /*height: 50px;*/
}


.user-block-username {
    min-width: 90px;
    max-width: 150px;
    font-size: 11px;
    font-weight: bold;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.FText {
    padding-right: 6px;
    font-weight: bold;
    font-size: 15px;
    background-color: dodgerblue;
    border-bottom: 5px solid black;
    text-align:right;
}

.menuButton div{
    height: 42px;
    cursor: pointer;
    z-index: 1;
    width: 42px;
    border: hidden;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.menuItem:hover{
    background: lightgrey;
    cursor: pointer;
}

.menuItem {
    font-family: helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 11px;
}

.footer {
	color: #315179;
	padding-right: 6px;
	font-weight: bold;
	font-size: 11px;
}
.logoutButton:hover{
    background: #037ECF;
    cursor: pointer;
}

.logoutButton{
    border-radius: 5px;
    width: 80px;
    padding: 7px;
    font-family: helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
}

.normal-font-size * {
    font-size: 12px;
}



.userGroupTable {
    border: hidden;
    font-size: 11px;
    border-bottom: 1px solid silver;
    border-collapse: collapse;
}
.userGroupTable > tbody > tr:hover > td {
    background-color: #dfeffb;
}
.userGroupTable > tbody > tr:first-child:hover > td {
    background-color: transparent;
}
.userGroupTable > tbody > tr:first-child > td {
    padding: 8px;
    border-left: 1px solid silver;
    border-bottom: 1px solid silver;
    font-weight: bold;
    color: #666666;
}
.userGroupTable > tbody > tr:first-child > td:first-child {
    border-left: none;
}
.userGroupTable > tbody > tr > td {
    padding: 5px;
    border-left: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}

.serviceChannelTable {
    font-size: 11px;
    border: 1px solid silver;
    border-collapse: collapse;
    margin: 10px;
}

.grid-icon-column div {
    border: hidden;
    padding-left:5px;
    padding-top: 3px;
}
.grid-icon-column > div:hover {
    cursor: pointer;
}

.serviceChannelTable > tbody > tr:first-child > td {
    padding: 8px;
    border-left: 1px solid silver;
    border-bottom: 1px solid silver;
    background-color: #BBCDE8;
}

.serviceChannelTable > tbody > tr > td {
    padding: 5px;
    border-left: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    text-align: center;
    align-content: center;
    align-items: center;
}

.payments-page-tab-panel > div:first-child ul {
    background: white !important;
}

.payment-list-table {
    border-collapse: collapse;
}

.payment-list-table > tbody > tr:first-child {
    background: #d3ecfd;
    line-height: 25px;
}

.payment-list-table > tbody > tr:first-child > td {
    font-size: 14px;
}

.payment-list-table > tbody > tr > td {
    border: 1px solid #bdbdbd;
    font-size: 12px;
    padding: 5px;
}

.verify-abonent-code-button > div:first-child {
    background: white !important;
    border: none;
}


.abonent-info-success > div:first-child {
    background-color: #bcffc2;
}

.abonent-info-failure > div:first-child {
    background-color: #fbc6c6;
}

.loader {
    background-image: url("images/loading.gif");
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    vertical-align: middle;
    display: block;
    margin: auto;
}

.loading-indicator {
    display: inline-block;
    background: url(images/loading.gif);
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.table-cell-loading {
    background-color: #eaeaea;
}

.table-cell-loaded{
    background-color: #bcffc2;
}

.table-cell-loaded-error {
    background-color: #fffcb4;
}

.table-cell-loaded-not-found {
    background-color: #fbc6c6;
}

.payment-entry-list-row {
    font-size: 12px;
    height: 43px;
}