body {
    padding: 0;
    margin: 0;
	font-family: tahoma, arial, helvetica, sans-serif;
}



.navbar {
    padding-left: 20px;
    /*width: 100%;*/
    background: #4B9CD7;
    /*height: 50px;*/
}


.user-block-username {
    min-width: 90px;
    max-width: 150px;
    font-size: 11px;
    font-weight: bold;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.FText {
    padding-right: 6px;
    font-weight: bold;
    font-size: 15px;
    background-color: dodgerblue;
    border-bottom: 5px solid black;
    text-align:right;
}

.menuButton div{
    height: 42px;
    cursor: pointer;
    z-index: 1;
    width: 42px;
    border: hidden;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.menuItem:hover{
    background: lightgrey;
    cursor: pointer;
}

.menuItem {
    font-family: helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 11px;
}

.footer {
	color: #315179;
	padding-right: 6px;
	font-weight: bold;
	font-size: 11px;
}

.normal-font-size * {
    font-size: 12px;
}